################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CookBot/.vs/CookBot/v15
/CookBot/databases/mongo/journal
