################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CookBot/.vs/CookBot/v15
/CookBot/databases/mongo/journal
/CookBot/source/bin/Debug
/CookBot/source/obj/Debug
/CookBot/source/bin/Debug
